# Virtual Environment
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# Distribution
*.egg-info/
dist/
build/